@media (max-width: 1000px) {
    p, a, li{
    font-size: 16px !important;
    }
    h1 {
        font-size: 22px !important;
    }
    h4 {
        font-size: 18px !important;
    }
    .padded {
        padding-left:2vw !important;
        padding-right:2vw !important;
    }
}
html {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.padded {
    padding-left:15vw;
    padding-right:15vw;
}
p, a, li{
    font-size: 19px;
}
p {
    padding-top: 7px;
}
h1 {
    font-size: 29px;
}
h4 {
    font-size: 19px;
}
body {
    overflow-x: hidden;
}

img {
    border-radius: 8px;
    width: 90%;
}
iframe {
    border-radius: 8px;
    width: 100%; 
    max-width: 70vw; 
    height: 50vh;
}
.col-sm {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
a {
    color:#000a02;
    transition: color 0.2s ease;
}
.header a:hover {
    color:#f2fff4;
}
body a:hover {
    color:#2459cc;
}
button {
    border-radius: 7px;
    background-color:#a4edb0;
    transition: transform 0.2s ease;
    color:#000a02;
}
button:hover {
    transform: translateY(-5px);
}
